@import url("https://use.typekit.net/utn1iue.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-Muli {
  font-family: Muli, sans-serif;
}

text-cucumber {
  color: #00ab61;
}

bg-cucumber {
  background-color: #00ab61;
}
