@import url("https://use.typekit.net/utn1iue.css");

@font-face {
  font-family: Avenir-black;
  src: url("../assets/fonts/Avenir-Black/Avenir-Black.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-Muli {
  font-family: Muli, sans-serif;
}

.font-Avenir {
  font-family: Avenir-Black, sans-serif;
}

.text-cucumber {
  color: #00ab61;
}

.bg-cucumber {
  background-color: #00ab61;
}

.inset-shadow {
  box-shadow: inset 3px 3px 10px 0 #000000;
}
